<section class="newIssueForm">
  <mat-form-field>
    <mat-label>Input</mat-label>
    <input [formControl]="titleControl" matInput />
    @if ( titleControl.invalid ) {
    <mat-error class="title-error-message"> Title is required </mat-error>}
  </mat-form-field>
  <mat-form-field>
    <mat-label>Column</mat-label>
    <input [formControl]="columnControl" matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Textarea</mat-label>
    <textarea
      [formControl]="descriptionControl"
      matInput
      style="resize: none"
    ></textarea>
  </mat-form-field>

  <button mat-button [disabled]="!titleControl.valid" (click)="addIssue()">
    Add issue
  </button>
</section>
