<section class="newIssueForm">
  <mat-form-field>
    <mat-label>Input</mat-label>
    <input [formControl]="titleControl" matInput />
    @if ( titleControl.invalid ) {
    <mat-error class="title-error-message"> Title is required </mat-error>}
  </mat-form-field>
  <mat-form-field>
    <mat-label>Column</mat-label>
    <mat-select [formControl]="columnControl" class="column-input">
      @for (column of columns$ | async ;track column ) {
      <mat-option [value]="column">
        {{ column }}
      </mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Textarea</mat-label>
    <textarea
      [formControl]="descriptionControl"
      matInput
      style="resize: none"
      class="description-text-area"
    ></textarea>
  </mat-form-field>

  <button mat-button [disabled]="!titleControl.valid" (click)="addIssue()">
    Add issue
  </button>
</section>
