<div class="issueContainer">
  <ul
    #dropZone
    class="issueList"
    (dragover)="allowDrop($event)"
    (drop)="finalizeDropOnZone($event)"
  >
    <li
      class="issue"
      *ngFor="let issue of issues$ | async"
      [id]="issue.uniqueId"
      [draggable]="true"
      (dragstart)="configureDragStartEvent($event)"
      (drop)="registerTargetIssue($event)"
    >
      <app-issue>{{ issue.title }}</app-issue>
    </li>

    <li #newIssueBtn class="newIssueBtnListElement">
      <button class="newIssueBtn">+</button>
    </li>
  </ul>
</div>
